/* Header */
header {
  background-color: #39c682ad;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: sticky;
  z-index: 999;
  top: 0;
  margin-bottom: 10px;
}

.header .head {
  background-color: #273C66;
  height: 50px;
}

.header .head .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .head .left {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  display: flex;
  column-gap: 10px;
}
.header .head .left .email:hover{
  color: #22A0CD;
}
.header .head .left .phone:hover{
  color: #22A0CD;
}

.header .head-right{
  height: 100%;
  display: flex;
  column-gap: 10px;
}
.header .head-right > a {
  display: inline-flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.header .head-right > a:hover{
  color: #22A0CD;
  cursor: pointer;
}

.header .main__header {
  background-color: #fff;

  height: 120px;
}
.header .main__header .container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .main__header .inner-logo {
  width: 260px;

}
.header .main__header .inner-logo img{
  width:100% ;
  height: 100%;
  object-fit: contain;
}

.header .main__header .form-control {
  border: none;
}

.header .main__header form {
  border: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .main__header .form-control input {
  width: 240px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  
}
.inner-menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-menu ul {
  height: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  column-gap: 20px;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.inner-menu ul > li {
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 10px
  
}

.inner-menu ul > li:hover a {
  color: #22A0CD;
}

.inner-menu ul > li a {
  text-decoration: none;
  font-weight: 700;
  color: #333;
  font-size: 14px;
}

/* sub-menu  */
.sub-menu {
  position: relative;
  z-index: 9999;
}

.sub-menu ul {
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 180px;
  display: none;
  
}

.sub-menu ul li {
  padding: 10px;
  border-bottom: none;
}

.sub-menu:hover > ul {
  display: block;
}

.sub-menu ul li {
  position: relative;
}

.sub-menu ul li ul {
  right: 100%;
  top: 0;
}

.sub-menu ul li:hover > ul {
  display: block;
}

/* End Header */

/* swiper-container */
swiper-container{
  background-color: #3E5277;
  width: 100%;
}

swiper-container .inner-image {
  width: 100%;
  aspect-ratio: 4/2;
}

swiper-container .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* swiper-container */

/* Footer */
footer {
  padding: 5px;
  background-color: black;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 700;
}

/* End Footer */

/* Box-Head */
.box-head{
  background-color: transparent;
  padding: 20px;

}
.box-head .inner-title {
  color: #112958;
  text-align: center;
}
/* End Box-Head */

/* Box Home */

.product-home {
  padding: 60px;
}

.product-home:nth-child(2n) {
  background-color: #101517;
}


.product-home .product-item {
  background-color: transparent;
  box-shadow: none;
  border: none;
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.product-home:nth-child(2n) .product-item {
  flex-direction: row-reverse;
}

.product-home .product-item .inner-image{
  background-color: transparent;
  width: 30%;
  aspect-ratio: 3/4;
  margin-right: 20px;
}

.product-home .product-item .inner-image img {
  background-color: transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.product-home .product-item .inner-content{
  background-color: transparent;
  flex: 1;
}

.product-home .product-item .inner-content .inner-title{
  background-color: transparent;
  word-wrap: break-word;
  color: #101517;
  text-decoration: none;
  font-size: 24px;
  font-weight: 800;
}
.product-home:nth-child(2n) .inner-content .inner-title {
  color: #fff;
}


.product-home .product-item .inner-content .inner-title:hover {
  background-color: transparent;
  color: #22A0CD;
}
.product-home:nth-child(2n) .product-item .inner-content .inner-description{
  color: #fff;
}

.product-home .product-item .inner-content .inner-description{
  color: #101517;
}
/* End Box Home */

/* Product item  */
.product-item {
  width: 95%;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-item .inner-image {
  width: 100%;
  aspect-ratio: 4/3;
}

.product-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-item .inner-content .inner-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  text-align: center;
  color: #22A0CD;
  text-decoration: none;

}

.product-item .inner-price-new {
  color: red;
  font-size: 20px;
  font-weight: 700;
}

.product-item .inner-price-old {
  color: green;
  font-size: 18px;
  font-weight: 700;
  text-decoration: line-through;
}

.product-item .inner-price-discount {
  color: rgba(255, 0, 0, 0.662);
  font-size: 20px;
  font-weight: 700;
  text-shadow: 10px;
}

/* End Product item  */


/* Products */
.product-item {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #333;
}

.product-item .inner-image {
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
}

.product-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item .inner-title {
  color: red;
  font-size: 20px;
  font-weight: 700;
}

.product-item .inner-price-new {
  color: red;
  font-weight: 700;
  font-size: 20px;
}

.product-item .inner-price-old {
  color: #000;
  font-weight: 700;
  font-size: 18px;
  text-decoration: line-through;
}

.product-item .inner-discount {
  padding: 10px;
  background-color: red;
  color: #fff;
  display: inline-block;
  margin: 10px 20px;
  border-radius: 10px;
}

.product-item .inner-image .inner-feature {
  position: absolute;
  top: 0;
  right: 0;
  background-color: green;
  color: white;
  padding: 3px 6px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  z-index: 9999;
}

/* End Products */

/* Footer */
.footer {
  text-align: center;
  padding: 10px 0;

  color: #fff;
}
/* End Footer */


/* product-detail */
.product-detail .inner-thumb img {
  width: 100%;
  height: auto;
}

.product-detail .inner-title {
  font-size: 32px;
  margin-bottom: 15px;
}

.product-detail .inner-category {
  margin-bottom: 10px;
}

.product-detail .inner-price-new {
  color: green;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

.product-detail .inner-price-old {
  color: red;
  font-weight: 600;
  font-size: 20px;
  text-decoration: line-through;
  margin-bottom: 10px;
}

.product-detail .inner-percent {
  margin-bottom: 10px;
}

.product-detail .inner-percent span {
  color: #fff;
  background: red;
  font-weight: 600;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 8px;
}

.product-detail .inner-stock {
  margin-bottom: 10px;
}

.product-detail .inner-stock span {
  color: #fff;
  background: green;
  font-weight: 600;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 8px;
}

/* End product-detail */

/* Alert */

[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 999;
}

[show-alert].alert-none {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }

  to {
    right: -100%;
    display: none;
  }
}

[close-alert] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-weight: 700;
  cursor: pointer;
}

/* End Alert */

/* Chat */
.chat {
  max-width: 1000px;
  margin: 20px auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.chat .inner-body {
  padding: 20px;
  max-height: 450px;
  overflow-y: auto;
}

.chat .inner-body .inner-incoming {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  margin-bottom: 5px;
}

.chat .inner-body .inner-incoming .inner-name {
  font-weight: 600;
  font-size: 18px;
  color: green;
}

.chat .inner-body .inner-incoming .inner-content {
  padding: 10px;
  border-radius: 10px;
  background-color: #a9a4a4;
  max-width: 40%;
}

.chat .inner-body .inner-outgoing {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  margin-bottom: 5px;
}

.chat .inner-body .inner-outgoing .inner-content {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(221, 122, 139);
  max-width: 40%;
}
.chat .inner-footer {
  padding: 10px;
  border: 1px solid #ddd;
}

.chat .inner-form {
  display: flex;
  align-items: center;
}

.chat .inner-form input {
  flex: 1;
  height: 32px;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 0 10px;
  outline: none;
}

.chat .inner-form button {
  border-radius: 15px;
  border: 1px solid #fe5da3;
  background: #fe5da3;
  color: #fff;
  height: 32px;
  padding: 0 10px;
  cursor: pointer;
}
.chat .inner-body .inner-images img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  background: #efefef;
  padding: 10px;
  margin: 0 5px 5px 0;
  border-radius: 5px;
}
.chat .inner-body .inner-outgoing .inner-images {
  cursor: pointer;
  margin-left: auto;
  text-align: right;
}
.chat .inner-body .inner-outgoing .inner-images img {
  margin: 0 0 5px 5px;
}
.chat .custom-file-container .label-container {
  display: none;
}
.chat .custom-file-container .input-visible {
  display: none;
}
.chat .custom-file-container .input-container {
  display: none;
}
.chat .custom-file-container .image-preview {
  height: auto;
  padding: 0;
  border-radius: 0;
}
.chat .custom-file-container .image-preview-item{
  width: 90px;
  background-size: contain;
}
/* End Chat */

/* emoji-picker */
.tooltip {
  visibility: hidden;
}
.tooltip.shown {
  visibility: visible;
  opacity: 1;
}
/*End emoji-picker */

/* Box Typing */
.box-typing {
  position: relative;
}
.box-typing .inner-dots {
  position: relative;
  height: 20px;
  width: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
  border-radius: 45px;
  margin-top: 2px;
}
.box-typing .inner-dots span {
  animation: blink 1.5s infinite;
  height: 5px;
  width: 5px;
  background: #252525;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
}
.box-typing.inner-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.box-typing.inner-dots span:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes blink {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
/* End Box Typing */

/* Box User */
.box-user {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 30px;
}
.box-user .inner-avatar{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f2f2f2;
  margin-right: 10px;
}

.box-user .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-user .inner-infor {
  flex: 1;
}
.box-user .inner-name{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}
.box-user [btn-cancel-friend]{
  display: none;
}

.box-user.add [btn-cancel-friend]{
  display: inline-block;
}
.box-user.add [btn-add-friend]{
  display: none;
}

.box-user [btn-deleted-friend]{
  display: none;
}

.box-user.refuse [btn-deleted-friend]{
  display: inline-block;
}

.box-user.refuse [btn-refuse-friend]{
  display: none;
}
.box-user.refuse [btn-accept-friend]{
  display: none;
}

.box-user [btn-accepted-friend] {
  display: none;
}
.box-user.accepted [btn-accepted-friend] {
  display: inline-block;
}
.box-user.accepted [btn-refuse-friend] {
  display: none;
}
.box-user.accepted [btn-accept-friend] {
  display: none;
}

.box-user .inner-status{
  font-size: 12px;
  color: #00d800;
  opacity: 0;
}
.box-user .inner-status[status="online"]{
  opacity: 1;
}

/* End Box User */

/* BOX ROOM */
.box-room{
  display: flex;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.box-room .inner-avatar{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f2f2f2;
  margin-right: 10px;
}
.box-room .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-room.inner-infor {
  flex: 1
}

.box-room.inner-infor .inner-avatar{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}
/* END BOX ROOM */

.login-thumbnail {
  background-color: #F0E032;
  padding: 80px 0px;

} 
.login-thumbnail .inner-image {
  width: 100%;
  aspect-ratio: 2/4;
  border-radius: 20px;
  overflow: hidden;

}
.login-thumbnail .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-thumbnail .login-package {
  padding: 60px;
  background-color:#fff ;
  border-radius: 10px;
}

.login-thumbnail .login .text-center{
  font-size: 22px;
  font-weight: bold;

}
.login-thumbnail .login label {
  font-size: 18px;
  color: #a9a4a4;
  margin-bottom: 5px;
}

.login-thumbnail .login input {
  height: 50px;
  border-radius: 10px;
  margin: 0 10px ;
  margin-bottom: 10px;

}
.login-thumbnail .login .button {
  display: flex;
  justify-content: center;
  
}

.login-thumbnail .login button {
  width: 300px;
  height: 50px;
  background-color: #F0E032;
  border: none;
  font-weight: 700;
  margin-top: 10px;
}

/* InforUSer */
.background-infor{
  background-color: #FFC700;
  margin-top: -10px;
  padding: 20px;
}
.background-infor > .container {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: -20px;
  background-color: #fff; 
}

.background-infor .inforUser .inner-avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}
.background-infor .inforUser {
  display: flex;
  margin-left: 80px;
  align-items: center;
  column-gap: 10px;
}

.background-infor .inforUser .inner-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.background-infor .inforUser .user-infor .fullName{
  color: #101517;
  font-size: 24px;
  font-weight: bolder;
}

.edit-infor {
  padding: 20px;
}
.edit-infor > .text-center{
  font-size: 22px;
  font-weight: bold;
}

.edit-infor label {
  font-size: 18px;
  color: #a9a4a4;
  margin-bottom: 5px;
}


.edit-infor input {
  height: 50px;
  border-radius: 10px;
  margin: 0 10px ;
  margin-bottom: 10px;

}

.edit-infor .button {
  display: flex;
  justify-content: center;
  
}

.edit-infor button {
  width: 300px;
  height: 50px;
  background-color: #F0E032;
  border: none;
  font-weight: 700;
  margin-top: 10px;
}
[upload] .inner-image {
  width: 120px;
  height: 120px;
  display: none;
}
[upload] .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
/* End InforUSer */