extends ../../layouts/default.pug
include ../../mixins/box-head
include ../../mixins/products-grid.pug

block main 
    .container.mb-3 
        .row.mb-3 
            .col-12 
                    +box-head(pageTitle)
                    +products-grid(products)
